@model Futebol.Models.Jogador

@{
    ViewBag.Title = "Excluir Jogador";
}

<h2 class="text-center mb-4 text-warning fw-bold">Excluir Jogador</h2>

<div class="p-4 mb-5" style="background-color: #013220; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); color: white;">
    <h3 class="text-center text-light">Tem certeza de que deseja excluir este jogador?</h3>
    <hr class="border-light" />
    <dl class="row">
        <dt class="col-sm-4 text-light">Time</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Time.Nome)</dd>

        <dt class="col-sm-4 text-light">Nome</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Nome)</dd>

        <dt class="col-sm-4 text-light">Data de Nascimento</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.DataNascimento)</dd>

        <dt class="col-sm-4 text-light">Nacionalidade</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Nacionalidade)</dd>

        <dt class="col-sm-4 text-light">Posição</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Posicao)</dd>

        <dt class="col-sm-4 text-light">Número da Camisa</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.NumeroCamisa)</dd>

        <dt class="col-sm-4 text-light">Altura</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Altura)</dd>

        <dt class="col-sm-4 text-light">Peso</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Peso)</dd>

        <dt class="col-sm-4 text-light">Pé Preferido</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.PePreferido)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="text-center mt-4">
            <input type="submit" value="Excluir" class="btn btn-danger btn-lg shadow-sm" />
            @Html.ActionLink("Voltar à Lista", "Index", null, new { @class = "btn btn-warning btn-lg shadow-sm ms-3" })
        </div>
    }
</div>


