@model IEnumerable<Futebol.Models.Estatistica>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Jogador.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Partida.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gols)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Jogador.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Partida.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gols)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
