@model Futebol.Models.Partida

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Partida</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeCasa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeCasa.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeFora.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeFora.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rodada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rodada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GolsCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GolsCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GolsFora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GolsFora)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
