@model Futebol.Models.Partida

@{
    ViewBag.Title = "Detalhes da Partida";
}

<h2>Detalhes da Partida</h2>

<div>
    <h4>Partida</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Rodada</dt>
        <dd>
            @Model.Rodada
        </dd>

        <dt>Time Casa</dt>
        <dd>
            @Model.TimeCasa.Nome
        </dd>

        <dt>Gols do Time Casa</dt>
        <dd>
            @Model.GolsCasa
        </dd>

        <dt>Time Visitante</dt>
        <dd>
            @Model.TimeFora.Nome
        </dd>

        <dt>Gols do Time Visitante</dt>
        <dd>
            @Model.GolsFora
        </dd>

        <dt>Data e Hora</dt>
        <dd>
            @Model.Data.ToString("dd/MM/yyyy HH:mm")
        </dd>
    </dl>
</div>

<br />

<h4>Gols da Partida</h4>
<hr />

@if (Model.Estatisticas != null && Model.Estatisticas.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Jogador</th>
                <th>Time</th>
                <th>Gols Marcados</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var estatistica in Model.Estatisticas)
            {
                <tr>
                    <td>@estatistica.Jogador.Nome</td>
                    <td>@estatistica.Jogador.Time.Nome</td>
                    <td>@estatistica.Gols</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><i>Essa partida ainda não teve gols registrados.</i></p>
}

<br />
<p>
    @Html.ActionLink("Editar Partida", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar à Lista", "Index")
</p>
