@model IEnumerable<Futebol.Models.Partida>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeCasa.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeFora.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rodada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GolsCasa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GolsFora)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCasa.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeFora.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rodada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GolsCasa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GolsFora)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            </td>
        </tr>
    }

      </table>
